include LICENSE
include README.md
include pyproject.toml
recursive-include mcbs/datasets *.json
recursive-include mcbs/datasets *.csv
recursive-include mcbs/datasets *.csv.gz
recursive-include mcbs *.py